<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Gallery</title>
</head>
<body>
    {% for character in characters %}
        {{ character.character_name }}<br>
        {{ character.class_name }}<br>
        {{ character.class_hit_die }}<br>
        {{ character.class_skill_prof }}<br>
        {{ character.race_name }}<br>
        {{ character.race_size }}<br>
        {{ character.race_speed }}<br>
        {{ character.race_languages }}<br>
        {{ character.background_languages }}<br>
        {{ character.background_name }}<br>
        {{ character.background_prof }}<br>
        {{ character.background_equipment }}<br>
    {% endfor %}
</body>
</html>