{% extends "base.html" %}
{% block content %}
    <form>
        <div class="row">
            <div class="col s12 input-field">
                <div class="col s3">
                    <input name="character_name" type="text" class="validate" value="{{ character.character_name }}">
                    <label for="character_name">Character Name</label>
                </div>
                <div class="col s3">
                    <input name="class_name" type="text" class="validate" value="{{ character.class_name }}">
                    <label for="class_name">Class</label>
                    <input name="race_name" type="text" class="validate" value="{{ character.race_name }}">
                    <label for="race_name">Race</label>
                </div>
                <div class="col s3">
                    <input name="background_name" type="text" class="validate" value="{{ character.background_name }}">
                    <label for="background_name">Background</label>
                    <input name="character_alignment" type="text" class="validate" value="{{ character.character_alignment }}">
                    <label for="character_alignment">Alignment</label>
                </div>
                <div class="col s3">
                    <input name="user" type="text" class="validate" value="{{ character.user }}">
                    <label for="user">Player Name</label>
                    <input name="character_experience" type="text" class="validate" value="{{ character.character_experience }}">
                    <label for="character_experience">Experience</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <div class="col s4">
                    <div class="col s4">
                        <div>
                            <label for="strength">Strength</label>
                            <input id="strength" type="text" class="validate" value="{{ character.strength }}">
                            <div>
                                {% if character.strength_modifier > 0 %}
                                    <input id="strength_modifier" type="text" class="validate" value=" +{{ character.strength_modifier }}">
                                {% else %}
                                    <input id="strength_modifier" type="text" class="validate" value="{{ character.strength_modifier }}">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="dexterity">Dexterity</label>
                            <input id="dexterity" type="text" class="validate" value="{{ character.dexterity }}">
                            <div>
                            {% if character.dexterity_modifier > 0 %}
                                <input id="dexterity_modifier" type="text" class="validate" value=" +{{ character.dexterity_modifier }}">
                            {% else %}
                                <input id="dexterity_modifier" type="text" class="validate" value="{{ character.dexterity_modifier }}">
                            {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="constitution">Constitution</label>
                            <input id="constitution" type="text" class="validate" value="{{ character.constitution }}">
                            <div>
                                {% if character.constitution_modifier > 0 %}
                                    <input id="constitution_modifier" type="text" class="validate" value=" +{{ character.constitution_modifier }}">
                                {% else %}
                                    <input id="constitution_modifier" type="text" class="validate" value="{{ character.constitution_modifier }}">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="intelligence">Intelligence</label>
                            <input id="intelligence" type="text" class="validate" value="{{ character.intelligence }}">
                            <div>
                                {% if character.intelligence_modifier > 0 %}
                                    <input id="intelligence_modifier" type="text" class="validate" value=" +{{ character.intelligence_modifier }}">
                                {% else %}
                                    <input id="intelligence_modifier" type="text" class="validate" value="{{ character.intelligence_modifier }}">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="wisdom">Wisdom</label>
                            <input id="wisdom" type="text" class="validate" value="{{ character.wisdom }}">
                            <div>
                                {% if character.wisdom_modifier > 0 %}
                                    <input id="wisdom_modifier" type="text" class="validate" value=" +{{ character.wisdom_modifier }}">
                                {% else %}
                                    <input id="wisdom_modifier" type="text" class="validate" value="{{ character.wisdom_modifier }}">
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <label for="charisma">Charisma</label>
                            <input id="charisma" type="text" class="validate" value="{{ character.charisma }}">
                            <div>
                                {% if character.charisma_modifier > 0 %}
                                    <input id="charisma_modifier" type="text" class="validate" value=" +{{ character.charisma_modifier }}">
                                {% else %}
                                    <input id="charisma_modifier" type="text" class="validate" value="{{ character.charisma_modifier }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col s8">
                        <div>
                            <input id="profiencey_bonus" class="validate" type="text" value="+{{ character.profiency_bonus }}">
                            <label for="profiencey_bonus">Profiencey Bonus</label>
                        </div>
                        <div>
                            {% for saving_throw in saving_throws %}
                                <p>
                                    <label>
                                        {% if saving_throw.saving_throw_name in character.class_saving_throws %}
                                            <input type="checkbox" checked="checked"/>
                                        {% else %}
                                            <input type="checkbox"/>
                                        {% endif %}
                                            <span>{{saving_throw.saving_throw_name}}</span>
                                    </label>
                                </p>
                            {% endfor %}
                            <p>Saving Throws</p> 
                        </div>
                        <div>
                            {% for skill in skills %}
                                <p>
                                    <label>
                                        {% if skill.skill_name in character.chosen_skills %}
                                            <input id="{{ skill }}" type="checkbox" checked="checked"/>
                                        {% else %}
                                            <input id="{{ skill }}" type="checkbox"/>
                                        {% endif %}
                                        <span>{{ skill.skill_name}}</span>
                                    </label>
                                </p>
                            {% endfor %}
                            <p>Skills</p> 
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="col s4">
                            {% if character.passive_perception %}
                                <input name="passive_perception" value="{{ character.passive_perception }}">
                            {% elif "Perception" in character.chosen_skills %}
                                <input name="passive_perception" value="{{ 10 + character.wisdom_modifier + character.profiency_bonus }}">
                            {% else %}
                                <input name="passive_perception" value="{{ 10 + character.wisdom_modifier }}">
                            {% endif %}
                        </div>
                        <div class="col s8">
                            <p>Passive Perception</p>
                        </div>
                    </div>
                    <div class="col s12 input-field">
                        <textarea name="other_profiencies_languages" class="materialize-textarea">
                            {%- if character.chosen_languages -%}
                                {{- character.chosen_languages -}}
                            {% endif %}
                            {%- if character.chosen_tools -%}
                                {{- character.chosen_tools -}}
                            {% endif %}
                            {%- if character.chosen_instruments -%}
                                {{- character.chosen_instruments -}}
                            {%- endif -%}
                            {%- if character.chosen_gaming_sets -%}
                                {{- character.chosen_gaming_sets -}}
                            {%- endif -%}
                        </textarea>
                        <p>Other Proficiencies & Languages</p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="col s4">
                        <input type="text" name="armor_class" value="{{ 10 + character.dexterity_modifier }}">
                        <label for="armor_class">Armor Class</label>
                    </div>
                    <div class="col s4">
                        <input type="text" name="intiative_bonus" value="+{{ character.dexterity_modifier }}">
                        <label for="intiative_bonus">Intiative</label>
                    </div>
                    <div class="col s4">
                        Race speed int
                    </div>
                    <div class="col s12">
                        <div>
                            <input type="number" name="hit_point_maximum" value="{{ character.hit_point_maximum }}">
                            <label for="hit_point_maximim">Hit Point Maximum</label>
                            <input type="number" name="current_hit_points" value="{{ character.current_hit_points }}">
                            <label for="current_hit_points">Current Hit Points</label>
                        </div>
                        <div>
                            <!-- if Temp hit points > 0 display value if not leave blank-->
                            <input type="number" name="temporary_hit_points" value="0">
                            <label for="temporary_hit_points">Temporary Hit Points</label>
                        </div>
                        <div class="col s6">
                            <input type="number" name="total_hit_dice" value="{{ character.class_total_hit_dice }}">
                            <label for="total_hit_dice">Total Hit Dice</label>
                            <input type="text" name="hit_dice" value="{{ character.class_hit_die }}">
                            <label for="hit_dice">Hit Dice</label>
                        </div>
                        <div class="col s6">
                            <div>
                                <label for="">Successes</label>
                                <p>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </p>
                            </div>
                            <div>
                                <label for="">Failures</label>
                                <p>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col s4">
                                        <label>
                                            <input type="checkbox" class="filled-in"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </p>
                            </div>
                            <p>Death Saves</p>
                        </div>
                        <div class="col s12">
                            <div class="col s12">
                                <div class="col s4">
                                    <label for="attack_name">Name</label>
                                    <input type="text" name="attack_name_1" placeholder="Spear" value="{{ character.attack_name_1 }}">
                                </div>
                                <div class="col s4">
                                    <label for="attack_bonus">Bonus</label>
                                    <input type="text" name="attack_bonus_1" placeholder="+5" value="{{ character.attack_bonus_1 }}">
                                </div>
                                <div class="col s4">
                                    <label for="attack_damage">Damage/Type</label>
                                    <input type="text" name="attack_damage_1" placeholder="1d6 + 3" value="{{ character.attack_damage_1 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_name_2" value="{{ character.attack_name_2 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_bonus_2" value="{{ character.attack_bonus_2 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_damage_2" value="{{ character.attack_damage_2 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_name_3" value="{{ character.attack_name_3 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_bonus_3" value="{{ character.attack_bonus_3 }}">
                                </div>
                                <div class="col s4">
                                    <input type="text" name="attack_damage_3" value="{{ character.attack_damage_3 }}">
                                </div>
                            </div>
                            <div class="col s12 input-field">
                                <textarea name="attacks_spellcasting" class="materialize-textarea"></textarea>
                                <!--p element rather than label element for formatting purposes-->
                                <p>Attacks & Spellcasting</p>
                            </div>
                        </div>
                        <div class="col s12  input-field">
                            <div class="col s4">
                                <div>
                                    <input type="number" name="character_copper" value="{{ character.character_copper }}">
                                    <label for="character_copper">CP</label>
                                </div>
                                <div>
                                    <input type="number" name="character_silver" value="{{ character.character_silver }}">
                                    <label for="character_silver">SP</label>
                                </div>
                                <div>
                                    <input type="number" name="character_electrum" value="{{ character.character_electrum }}">
                                    <label for="character_electrum">EP</label>
                                </div>
                                <div>
                                    <input type="number" name="character_gold" value="{{ character.character_gold }}">
                                    <label for="character_gold">GP</label>
                                </div>
                                <div>
                                    <input type="number" name="character_platinum" value="{{ character.character_platinum }}">
                                    <label for="character_platinum">PP</label>
                                </div>
                            </div>
                            <div class="col s8">
                                <textarea name="equipment" class="materialize-textarea">
                                    {{- character.background_equipment -}}
                                </textarea>
                                <p>Equipment</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="col s12">
                        <textarea name="personality_traits" class="materialize-textarea">{{ character.personality_traits }}</textarea>
                        <p>Personality Traits</p>
                    </div>
                    <div class="col s12">
                        <textarea name="ideals" class="materialize-textarea">{{ character.ideals }}</textarea>
                        <p>Ideals</p>
                    </div>
                    <div class="col s12">
                        <textarea name="bonds" class="materialize-textarea">{{ character.bonds }}</textarea>
                        <p>Bonds</p>
                    </div>
                    <div class="col s12">
                        <textarea name="flaws" class="materialize-textarea">{{ character.flaws }}</textarea>
                        <p>Flaws</p>
                    </div>
                    <div class="col s12">
                        <textarea name="feature_traits" class="materialize-textarea">
                            {{- character.background_feature }}
                        </textarea>
                        <p>Features & Traits</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}