{% extends "base.html" %}
{% block content%}

    <div class="row center">
        <div class="forge-banner deep-orange-text">
            <h1>Welcome to Character Forge!</h1>
        </div>
        <div class="forge-info">
            <p>Character Forge is a website to help you make Dungeon and Dragons 5th edition characters</p>
            <p>Character Forge also allows to see other users character through the Character Gallery Tab</p>
            <p>What are you still doing here!? Get creating!</p>
        </div>
    </div>

{% endblock %}