{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Materialise Tabs -->
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s2 offset-s1"><a class="active" href="#class">Class</a></li>
                <li class="tab col s2"><a href="#race">Race</a></li>
                <li class="tab col s2"><a href="#details">Character Details</a></li>
                <li class="tab col s2"><a href="#ability_scores">Ability Scores</a></li>
                <li class="tab col s2"><a href="#submit">Submit</a></li>
            </ul>
        </div>
        <form method="POST" name="class" action="{{ url_for('new_character') }}">
            <div id="class" class="col s12">
                <h3 class="center">Choose Your Class</h3>
                <!-- Materialise Callapisble -->
                <ul class="collapsible">
                    {% for class in classes %}
                        <li>
                            <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ class.class_name }}</strong></div>
                            <div class="collapsible-body">
                                <p>{{ class.class_description }}</p>
                                <p><strong>Hit Dice:</strong> {{ class.class_hit_die }}</p>
                                <p><strong>Primary Ability:</strong> {{ class.class_primary_ability }}</p>
                                <h6>Proficiences</h6>
                                <p><strong>Saving Throw:</strong> 
                                    {% for saving_throw in class.class_saving_throws %}
                                        {{ saving_throw }}
                                    {% endfor %}
                                </p>
                                {% if class.class_tool_prof %}
                                    <p>
                                        <strong>Tools:</strong>
                                        {% for tool_prof in class.class_tool_prof %}
                                            {{ tool_prof }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                <p>
                                    <strong>Skills:</strong>
                                    {% for skill in class.class_skill_prof %}
                                        {{ skill }} 
                                    {% endfor %}
                                </p>
                                <p><strong>Armor:</strong>{{ class.class_armor_prof }}</p>
                                <p><strong>Weapons:</strong> {{ class.class_weapon_prof }}</p>
                                
                                <!-- Materialise Button -->
                                <button class="btn waves-effect waves-light" type="submit" name="class" value="{{ class.class_index }}">
                                    Choose Class
                                    <input type="hidden" name="class_name_{{ class.class_index }}" value="{{ class.class_name }}">
                                    <input type="hidden" name="class_hit_die_{{ class.class_index }}" value="{{ class.class_hit_die }}">
                                    <input type="hidden" name="class_skill_prof_{{ class.class_index }}" value="{{ class.class_skill_prof }}">
                                    <input type="hidden" name="class_saving_throws_{{ class.class_index }}" value="{{ class.class_saving_throws }}">
                                    <input type="hidden" name="class_num_skills_{{ class.class_index }}" value="{{ class.class_num_skills }}">
                                    {% if class.class_tool_prof %}
                                        <input type="hidden" name="class_tool_prof_{{ class.class_index }}" value="{{ class.class_tool_prof }}">
                                    {% endif %}
                                </button>
                                <!-- Materialise Button End -->
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form >
        <form method="POST" name="race" action="{{ url_for('new_character') }}">
            <div id="race" class="col s12">
                <h3 class="center">Choose Your Race</h3>
                    <ul class="collapsible">
                        {% for race in races %}
                            <li>
                                <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ race.race_name }}</strong></div>
                                <div class="collapsible-body">
                                    <p><strong>Ability Score Increase:</strong> {{ race.race_ability_score_increase }}</p>
                                    <p><strong>Age:</strong> {{ race.race_age }}</p>
                                    <p><strong>Alignment:</strong> {{ race.race_alignment }}</p>
                                    <p><strong>Size:</strong> {{ race.race_size }}</p>
                                    <p><strong>Speed:</strong> {{ race.race_speed }}</p>
                                    <p><strong>Languages:</strong> {{ race.race_languages }}</p>

                                    <!-- possible separate subrace collection have them relate somehow -->
                                    
                                    <button class="btn waves-effect waves-light" type="submit" name="race" value="{{ race.race_index }}">
                                        Choose Race
                                        <input type="hidden" name="race_name_{{ race.race_index }}" value="{{ race.race_name }}">
                                        <input type="hidden" name="race_size_{{ race.race_index }}" value="{{ race.race_size }}">
                                        <input type="hidden" name="race_speed_{{ race.race_index }}" value="{{ race.race_speed }}">
                                        <input type="hidden" name="race_languages_{{ race.race_index }}" value="{{ race.race_languages }}">
                                    </button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        </form>
        <form method="POST" name="details" action="{{ url_for('new_character') }}">
            <div id="details" class="col s12">
                <input placeholder="Ragnar The Great Alester" id="character_name" name="character_name" type="text" class="validate"
                    maxlength="30" required>
                <label for="character_name">Character Name</label>
                <textarea placeholder="Describle where your character came from, but don't worry you can change this later" 
                    id="character_description" name="character_description" class="materialize-textarea validate" minlength="1" maxlength="300"></textarea>
                <label for="character_description">Character Description</label>

                <div class="input-field col s12">
                    {% if session["class"] %}
                        {% for i in range(0, session["class"].class_num_skills) %}
                            <select name="skill_select_{{ i }}">
                                {% for skill in skills %}
                                    {% if "any" in session["skills"][0] %}
                                        <option value="{{ skill.skill_name }}">{{ skill.skill_name }}</option>
                                    {% elif skill.skill_name in session["skills"][0] %}
                                        <option value="{{ skill.skill_name }}">{{ skill.skill_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Pick Your Skills</label>
                        {% endfor %}    
                    {% else %}
                        <p>You haven't picked a class yet! Come back when you have</p>
                    {% endif %}
                </div>

                <h3 class="center">Choose Your Background</h3>

                <ul class="collapsible">
                    {% for background in backgrounds %}
                        <li>
                            <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ background.background_name }}</strong></div>
                            <div class="collapsible-body">
                                <p>{{ background.background_description}}</p>
                                <p><strong>Skill Proficiences:</strong> {{ background.background_skill_prof }}</p>
                                {% if background.background_tool_prof %}
                                    <p><strong>Tool Proficiences:</strong> {{ background.background_tool_prof }}</p>
                                {% endif %}
                                {% if background.background_languages %}
                                    <p><strong>Languages:</strong> {{ background.background_languages }}</p>
                                {% endif %}
                                <p><strong>Equipment:</strong> {{ background.background_equipment }}</p>
                                <h6>Background Feature: {{ background.background_feature_name }}</h6>
                                <p>{{ background.background_feature_description }}</p>
                                        
                                <button class="btn waves-effect waves-light" type="submit" name="background" value="{{ background.background_index }}">
                                    Choose Background
                                    <input type="hidden" name="background_name_{{ background.background_index }}" value="{{ background.background_name }}" >
                                    <input type="hidden" name="background_skill_prof_{{ background.background_index }}" value="{{ background.background_skill_prof }}" >
                                    <input type="hidden" name="background_equipment_{{ background.background_index }}" value="{{ background.background_equipment }}" >
                                    <input type="hidden" name="background_languages_{{ background.background_index }}" value="{{ background.background_languages }}" >
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <form method="POST" name="ability_scores" action="{{ url_for('new_character') }}">
            <div id="ability_scores" class="col s12">
                <h3 class="center">Choose Your Ability Scores</h3>
                <div class="col s2">
                    <label for="strength">Strength</label>
                    <input type="number" name="strength" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="col s2">
                    <label for="dexterity">Dexterity</label>
                    <input type="number" name="dexterity" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="col s2">
                    <label for="constitution">Constitution</label>
                    <input type="number" name="constitution" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="col s2">
                    <label for="intelligence">Intelligence</label>
                    <input type="number" name="intelligence" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="col s2">
                    <label for="wisdom">Wisdom</label>
                    <input type="number" name="wisdom" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="col s2">
                    <label for="charisma">Charisma</label>
                    <input type="number" name="charisma" minlength="1" maxlength="2" min="3" max="30" class="validate">
                </div>
                <div class="center">
                    <button class="btn waves-effect waves-light"  name="ability_scores" type="submit">Done</button>
                </div>
                <p>add modifier fomuala and examples</p>
            </div>
        </form>
        <form method="POST" action="{{ url_for('new_character') }}">  
            <div class="col s12 center" id="submit">
                <h3>Finshed?</h3>
                <a class="btn waves-effect waves-light" href="{{ url_for('characters') }}">Cancel</a>
                <button class="btn waves-effect waves-light"  name="submit" type="submit">Create Character</button> 
            </div> 
        </form>
    </div>
    <!-- Materialise Collapsible End-->
    <!-- Materialise Tabs End-->

{% endblock %}