{% extends "base.html" %}
{% block content %}
    
    

    <div class="row">
        <!-- Materialise Tabs -->
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#class">Class</a></li>
                <li class="tab col s3"><a href="#race">Race</a></li>
                <li class="tab col s3"><a href="#background">Background</a></li>
                <li class="tab col s3"><a href="#submit">Submit</a></li>
            </ul>
        </div>

        
            <div id="class" class="col s12">
                <h3 class="center">Choose Your Class</h3>
                <form method="POST" action="{{ url_for('new_character') }}">
                <!-- Materialise Callapisble -->
                <ul class="collapsible">
                    {% for class in classes %}
                        <li>
                            <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ class.class_name }}</strong></div>
                            <div class="collapsible-body">
                                <p>{{ class.class_description }}</p>
                                <p>Hit Dice: {{ class.class_hit_die }}</p>
                                <p>Primary Ability: {{ class.class_primary_ability }}</p>
                                <p>Saving Throw Proficiences: {{ class.class_saving_throw_prof }}</p>
                                <p>Class Skill Proficiences: {{ class.class_skill_prof }}</p>
                                <p>Weapon and Armor Proficiences: {{ class.class_weapon_armor_prof }}</p>
                                <p>Spellcasting Ability: {{ class.class_spellcasting_ability }}</p>

                                <input type="hidden" name="class_name" value="{{ class.class_name }}" >
                                <input type="hidden" name="class_hit_die" value="{{ class.class_hit_die }}" >
                                <input type="hidden" name="class_skill_prof" value="{{ class.class_skill_prof }}" >

                                <button class="btn waves-effect waves-light" type="submit" id="chosen_class" name="chosen_class">Choose Class</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                </form>
            </div>
            <div id="race" class="col s12">
                <h3 class="center">Choose Your Race</h3>

                <form method="POST" action="{{ url_for('new_character') }}">
                    <ul class="collapsible">
                        {% for race in races %}
                            <li>
                                <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ race.race_name }}</strong></div>
                                <div class="collapsible-body">
                                    <p>Ability Score Increase: {{ race.race_ability_score_increase }}</p>
                                    <p>Age: {{ race.race_age }}</p>
                                    <p>Alignment: {{ race.race_alignment }}</p>
                                    <p>Size: {{ race.race_size }}</p>
                                    <p>Speed: {{ race.race_speed }}</p>
                                    <p>Languages: {{ race.race_languages }}</p>

                                    <input type="hidden" name="race_name" value="{{ race.race_name }}" >
                                    <input type="hidden" name="race_size" value="{{ race.race_size }}" >
                                    <input type="hidden" name="race_speed" value="{{ race.race_speed }}" >
                                    <input type="hidden" name="race_languages" value="test" >

                                    <button class="btn waves-effect waves-light" type="submit" id="chosen_race" name="chosen_race">Choose Race</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>    
            <div id="background" class="col s12">
                <h3 class="center">Choose Your Background</h3>
                <form method="POST" action="{{ url_for('new_character') }}">
                    <ul class="collapsible">
                        {% for background in backgrounds %}
                            <li>
                                <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>{{ background.background_name }}</strong></div>
                                <div class="collapsible-body">
                                    <p>{{ background.background_description}}</p>
                                    <p>Skill Proficiences: {{ background.background_skill_prof }}</p>
                                    {% if background.background_tool_prof %}
                                        <p>Tool Proficiences: {{ background.background_tool_prof }}</p>
                                    {% endif %}
                                    {% if background.background_languages %}
                                        <p>Languages: {{ background.background_languages }}</p>
                                    {% endif %}
                                    <p>Equipment: {{ background.background_equipment }}</p>
                                    <h6>Background Feature: {{ background.background_feature_name }}</h6>
                                    <p>{{ background.background_feature_description }}</p>

                                    <input type="hidden" name="background_name" value="{{ background.background_name }}" >
                                    <input type="hidden" name="background_prof" value="{{ background.background_skill_prof }}" >
                                    {% if background.background_tool_prof %}
                                        <input type="hidden" name="background_tool_prof" value="{{ background.background_tool_prof }}">
                                    {% endif %}
                                    <input type="hidden" name="background_equipment" value="{{ background.background_equipment }}" >
                                    {% if background.background_languages %}
                                        <input type="hidden" name="background_languages" value="{{ background.background_languages }}">
                                    {% endif %}
                                    <input type="hidden" name="background_feature_name" value="{{ background.background_feature_name }}">
                                    <input type="hidden" name="background_feature_description" value="{{ background.background_feature_description }}">


                                    <button class="btn waves-effect waves-light" type="submit" id="chosen_background" name="chosen_background">Choose background</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <div id="submit" class="col s12">
                <h3 class="center">Submit</h3>

                <form method="POST" action="{{ url_for('new_character') }}">
                    <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="fas fa-caret-down"></i><strong>Submit</strong></div>
                                <div class="collapsible-body">
                                    <button class="btn waves-effect waves-light" type="submit" >Done!</button>
                                </div>
                            </li>
                    </ul>
                </form>
            </div> 
    </div>
    <!-- Materialise Collapsible End-->
    <!-- Materialise Tabs End-->

{% endblock %}